@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply normal-case px-5 py-3 h-auto min-h-6 font-normal rounded text-base cursor-pointer;
}

.btn-primary {
    @apply text-white;
}

h1, h2 {
    @apply font-serif font-bold;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

.rounded-box {
    @apply rounded-lg;
}

.plusbox {
    background-color: #f5f5f4;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23dedede' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.parsley-errors-list {
    @apply text-error text-sm;
}

.parsley-error {
    @apply border-error;
}